


<!DOCTYPE html>
<html>
  <head>
    <title> Save the WALRUS!</title>
  </head>

  <body>
    <h1> The Walrus need our help!</h1>

    <form method="post" action='/donate'>
      How much would you like to donate? <br>
      <input type="text" name="dollars">
      <input type="submit" value="donate">
    </form>

  </body>

</html>












<!--
 <form method="post" action="/other_side">
  First name:<br>
  <input type="text" name="firstname" value="John"><br>
  <input type="submit" value="Submit">
</form> -->