<!DOCTYPE html>
<html>
  <head>
    <title>Adele's Web App</title>
  </head>
  
  <body>
    <h1>Hello from the other side!!</h1>
    
    <form method="post" action='/other_side'>
      How many times did you call?<br>
      <input type="text" name="times">
      <input type="submit" value="go to the other side">
    </form>
    
  </body> 
  
</html>















<!-- 
 <form method="post" action="/other_side">
  First name:<br>
  <input type="text" name="firstname" value="John"><br>
  <input type="submit" value="Submit">
</form> -->