<!DOCTYPE html>
<html>
  <head>
    <title>the other side</title>
  </head>
  
  <body>
    <h1>You called <%=params[:times].reverse%> times</h1>
  </body> 
  
</html>











<!--     <h1><%=params[:firstname]%>, I called you a thousand times.</h1> -->