<!DOCTYPE html>
<html>
  <head>
    <title>Thank you for your donation!</title>
  </head>

  <body>
    <h1>You donated <%=params[:dollars]%> dollars</h1>
  </body>

</html>











<!--     <h1><%=params[:firstname]%>, I called you a thousand times.</h1> -->